.menu {
  width: 100%;
  line-height: 120px;
}

.m-left {
  float: left;
}
.logo {
  margin: 10;
  padding: 10;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 35px;
  position: left;
}
.m-right {
  float: right;
}
.m-link {
  text-decoration: navy;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10;
  margin: 0 20px;
}
.m-link:hover {
  font-weight: 800;
}

h1 {
  font-size: 2em;
}
h1 span.align_logo {
  float: right;
  font-size: 0.5em;
  vertical-align: bottom;
}
